In [21]:
import pandas as pd
import numpy as np

In [22]:
# index_col 指定列作为索引
pd.read_csv('examples/ex2.csv',header=None,names=['a','b','c','d','message'],index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [23]:
# 指定多列为索引列
pd.read_csv('examples/csv_mindex.csv',index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [24]:
pd.read_csv('examples/ex5.csv')

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
# na_values 可以接受一组表示缺失值的字符串，即将指定的部分用常用的缺失值表示法表示
# pandas中使用NA，NULL等标记
df=pd.read_csv('examples/ex5.csv',na_values={'something':['two'],'message':['foo','NA']})

In [26]:
# df['a']
df.iloc[0]

something    one
a              1
b              2
c              3
d              4
message      NaN
Name: 0, dtype: object

In [27]:
import sys
df.to_csv(sys.stdout,sep='\t',header=None,index=False,columns=list('abcd'),)

1	2	3.0	4
5	6		8
9	10	11.0	12

In [28]:
# 添加索引
dates=pd.date_range('1/1/2019',periods=3,freq='3H')
dates

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 03:00:00',
               '2019-01-01 06:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [29]:
pd.Series(np.arange(3.),index=dates)

2019-01-01 00:00:00    0.0
2019-01-01 03:00:00    1.0
2019-01-01 06:00:00    2.0
Freq: 3H, dtype: float64

In [30]:
# 读取病解析含有日期的文件
df2=pd.read_csv('examples/tseries.csv',header=None,parse_dates=True)
df2

            0  1
0  2000-01-01  0
1  2000-01-02  1
2  2000-01-03  2
3  2000-01-04  3
4  2000-01-05  4
5  2000-01-06  5
6  2000-01-07  6

In [31]:
# df2为7行2列的数据
df2.shape[0]

7

In [32]:
obj="""
{
      "UniqueId": "GadgetCategory",
      "Title": "CATEGORY_GADGET",
      "Subtitle": "",
      "ImagePath": "",
      "Description": "Toys & Gadgets",
      "Items": [
        {
          "UniqueId": "GadgetCategory-Item-1",
          "Title": "Bulldozer",
          "ImagePath": "Assets/Catalog/bulldozer.3mf",
          "Description": "ACTION_BULLDOZER",
          "ItemPath": "Assets/Catalog/bulldozer.3mf"
        },
        {
          "UniqueId": "GadgetCategory-Item-3",
          "Title": "Spheres",
          "ImagePath": "Assets/Catalog/spheres.3mf",
          "Description": "ACTION_SPHERES",
          "ItemPath": "Assets/Catalog/spheres.3mf"
        }
      ]  
}
"""

In [33]:
import json
res=json.loads(obj)
res['Items']

[{'UniqueId': 'GadgetCategory-Item-1',
  'Title': 'Bulldozer',
  'ImagePath': 'Assets/Catalog/bulldozer.3mf',
  'Description': 'ACTION_BULLDOZER',
  'ItemPath': 'Assets/Catalog/bulldozer.3mf'},
 {'UniqueId': 'GadgetCategory-Item-3',
  'Title': 'Spheres',
  'ImagePath': 'Assets/Catalog/spheres.3mf',
  'Description': 'ACTION_SPHERES',
  'ItemPath': 'Assets/Catalog/spheres.3mf'}]

In [34]:
pd.DataFrame(res['Items'])

,Description,ImagePath,ItemPath,Title,UniqueId
0,ACTION_BULLDOZER,Assets/Catalog/bulldozer.3mf,Assets/Catalog/bulldozer.3mf,Bulldozer,GadgetCategory-Item-1
1,ACTION_SPHERES,Assets/Catalog/spheres.3mf,Assets/Catalog/spheres.3mf,Spheres,GadgetCategory-Item-3

In [40]:
# xml  html

from  lxml.html import  parse
from urllib.request import urlopen

parsed=parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))
doc=parsed.getroot()

In [50]:
# 使用xpath查询某一标签
urls=[link.get('href') for link in doc.findall('.//a')]
urls[:5]

['https://finance.yahoo.com/',
 'https://mail.yahoo.com/?.intl=us&.lang=en-US&.partner=none&.src=finance',
 '/quote/AAPL?p=AAPL',
 '/quote/AAPL/key-statistics?p=AAPL',
 '/quote/AAPL/history?p=AAPL']

In [54]:
tables=doc.findall('.//table')
tables[0].findall('.//tr')

[<Element tr at 0x2817066f408>,
 <Element tr at 0x2817066f228>,
 <Element tr at 0x2817066f458>,
 <Element tr at 0x2817066f4a8>,
 <Element tr at 0x2817066f4f8>,
 <Element tr at 0x2817066f548>,
 <Element tr at 0x2817066f598>,
 <Element tr at 0x2817066f5e8>,
 <Element tr at 0x2817066f638>,
 <Element tr at 0x2817066f688>,
 <Element tr at 0x2817066f6d8>,
 <Element tr at 0x2817066f728>,
 <Element tr at 0x2817066f778>,
 <Element tr at 0x2817066f7c8>,
 <Element tr at 0x2817066f818>,
 <Element tr at 0x2817066f868>,
 <Element tr at 0x2817066f8b8>,
 <Element tr at 0x2817066f908>,
 <Element tr at 0x2817066f958>,
 <Element tr at 0x2817066f9a8>,
 <Element tr at 0x2817066f9f8>,
 <Element tr at 0x2817066fa48>,
 <Element tr at 0x2817066fa98>,
 <Element tr at 0x2817066fae8>,
 <Element tr at 0x2817066fb38>,
 <Element tr at 0x2817066fb88>,
 <Element tr at 0x2817066fbd8>,
 <Element tr at 0x2817066fc28>,
 <Element tr at 0x2817066fc78>,
 <Element tr at 0x2817066fcc8>,
 <Element tr at 0x2817066fd18>,
 <Element tr at 0x2817066fd68>,
 <Element tr at 0x2817066fdb8>,
 <Element tr at 0x2817066fe08>,
 <Element tr at 0x2817066fe58>,
 <Element tr at 0x2817066fea8>,
 <Element tr at 0x2817066fef8>,
 <Element tr at 0x2817066ff48>,
 <Element tr at 0x2817066ff98>,
 <Element tr at 0x28170677048>,
 <Element tr at 0x28170677098>]